<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogLevel="info"
	internalLogFile="${basedir}/logs/nlog-internal.log">
  <targets>
    <!--输出目标:name名称f,xsi:type输出类型文件, fileName输出到程序根目录logs文件夹中, 以日期作为生成log文件名称, layout生成内容的格式-->
    <target name="f"
            xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
	<target name="logconsole" xsi:type="Console"
			layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>
  <rules>
      <!--日志路由规则：最低级别Debug，输出到target目标f-->
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>